/* Edited by "ozncncyr"*/
/* Edited by "ozncncyr"*/
/* Edited by "ozncncyr"*/

/* Reset Start */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;  
    border: none;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: #404bbf;
}

/* Reset End */

/* Header Syles */

 .header{
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-sizing: border-box;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo .header-logo-span {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list ,
.contact-list{
    display: flex;
    gap: 40px;
}

.nav-list .list-item{
    padding-top: 24px;
    padding-bottom: 24px;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.nav-list .list-item .link:hover,
.nav-list .list-item .link:focus {
    color: #404bbf;
}

.nav-list .list-item .link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-bottom: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .list-item:nth-of-type(1) .link{
    color: #404bbf;
}

.nav-list .list-item:nth-of-type(1) .link::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-contact{
    font-style: normal;
    /* margin-left: auto;  */
}

.contact-list .list-item{
    padding: 24px 0;
}

.contact-list .link{
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contact-list .link:hover,
.contact-list .link:focus{
    color: #404bbf;
}

.container {
    background-color: transparent;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Main Syles */

.section-one{
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/cehalet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.section-one .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one-title{
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
}

.section-one-button{
    margin: 48px auto 0;
}

/* All Container Styles */

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

/* V&M(Section 2) Syles */

.section-two {
    padding: 120px 0;
}

.section-two .list {
    display: flex;
    gap: 24px;
}

.section-two .list-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.section-two .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-two .list-item .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

/* Our Team Syles */

.section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-three-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-three .list {
    display: flex;
    gap: 24px;
}

.section-three .list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.section-three .our-team-card {
    padding: 32px 0;
}

.section-three .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-three .team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-three .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}

.section-three .social-list .list-item {
    width: 40px;
    height: 40px;
    box-shadow: none;
}

.section-three .social-list .list-item .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three .social-list .list-item .social-link:hover,
.section-three .social-list .list-item .social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #f4f4fd;
}

/* Our Portfolio Syles */

.section-four {
    padding: 120px 0;
}

.section-four-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-four .list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-four .list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list .list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four .list-item .overlay-container{
    width: 360px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.section-four .list-item .overlay-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-four .list-item .overlay-container .overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list-item:hover .overlay-container .overlay-text{
    transform: translateY(0);
}

.section-four .our-portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-four .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer Styles */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .footer-logo-span {
    color: #f4f4fd;
}

.footer .text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .subtext-container {
    margin-right: 120px;
}

.footer .social-list-container .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer .social-list-container .social-list {
    display: flex;
    gap: 16px;
}

.footer .social-list-container .social-list .list-item {
    width: 40px;
    height: 40px;
}

.footer .social-list-container .social-list .list-item .social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-container .social-list .list-item .social-link:hover,
.footer .social-list-container .social-list .list-item .social-link:focus {
    background-color: #31d0aa;
}

/* Subscribe Form at Footer */

.subs-container{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subs-form{
    display: flex;
    gap: 24px;
}

.subs-email-text{
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

[placeholder] {
    color: #ffffff
}

.subs-button{
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.subs-icon{
    margin-left: 16px;
}

.subs-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-right: auto;
    color: white;
}

/* Modal Overlay */

.backdrop{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #2E2F4266;
    overflow: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    min-height: 584px;
    width: 408px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal-close-button{
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus{
    background-color: #404bbf;
    border: none;
}

.modal-close-button-icon{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon{
    fill: white;
}

.modal-window-title{
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-form-group{
    margin-bottom: 8px;
    width: 100%;
}

.modal-form-group .modal-form-label{
    color: #8e8f99;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
}

.modal-form-group .modal-form-input-group{
    position: relative;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
    border-color: #4d5ae5;
}

.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-textarea{
    margin-bottom: 16px;
}

.textarea{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    }

.modal-form-checkbox-group{
    position: relative;
    margin-bottom: 24px;
}

.modal-form-privacy-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-privacy-text .modal-form-checkbox-design{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox-design{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-privacy-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

/* .visually-hidden{
    visibility: hidden;
    opacity: 0;
} */

.mobile-menu-button {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Tablet Display */

@media (min-width:768px) and (max-width:1157px){

    /* Tablet Header */

    .container{
        width: 100%;
        max-width: 1157px;
    }

    .header-logo {
        margin-right: 0;
    }
    
    .header-contact{
        margin-left: 0;
    }

    .header .container .header-nav{
        display: flex;
        justify-content: space-between;
        width: calc((100% + 253px) /2 );
        }

    .nav-list{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contact-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 16px;
            margin-bottom: 16px;
    }
    
    .contact-list .list-item{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }

    .contact-list .list-item .link{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }

    /* Main Syles */

    .section-one{
        max-width: 1157px;
        padding: 112px 0;
    }

    .section-one-button{
        margin: 36px auto 0;
    }

    /* All Container Styles */

    section{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    /* Tablet Section 2 */

    .section-two .container .list .list-item .icon-container{
        display: none;
    }

    .section-two .list {
        flex-wrap: wrap;
    }

    .section-two .list .list-item{
        width: calc((100% - 24px) / 2);
    }

    .section-two .list-title {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .section-two .text{
        font-family: Roboto;
        font-weight: 500;
    }

    /* Tablet Section 3 */    

    .section-three .list{
        flex-wrap: wrap;
        margin-left: calc((100% - 552px) / 2);
        margin-right: calc((100% - 552px) / 2);
        row-gap: 64px;
        justify-content: center;
    }

    .section-three .list-item {
        width: 264px;
    }
    
    /* Tablet Section 4 */    

    .section-four .list{
        flex-wrap: wrap;
        margin-left: calc((100% - 736px) / 2);
        margin-right: calc((100% - 736px) / 2);
        row-gap: 64px;
        justify-content: center;
    }

    .section-four .list-item {
        width: 356px;
    }

    /* Tablet Footer */ 

    .footer {
        padding: 96px 0 96px 108px;
    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer .subtext-container {
        margin-right: 0;
    }

    .footer .social-list-container .text {
        font-weight: 400;
    }

    .footer .social-list-container{
        margin-right: 10px;
    }

    /* Tablet Sub Button */

    .subs-container{
    margin-left: 0;
    }

    .subs-title{
        font-weight: 400;
    }
    
}

/* Mobile Display */

@media (max-width: 767px) {
    
    /* Mobile Header */

    .header{
        height: 56px;
    }

    .header .container{
        height: 56px;
        align-items: center;
    }

    .mobile-menu-button {
        display: block;
        border: none;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .header-nav-container,
    .header-contact-container{
        display: none;
    }

    .container{
        width: 100%;
    }

    .header-logo{
        line-height: 24px;
    }

    /* Header Main Syles */

    .section-one{
        max-width: 767px;
        margin: 0 auto;
        padding: 72px 52px 72px;
    }

    .section-one-title{
        max-width: calc(100% * 0.675);
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }

    .section-one-button{
        margin: 48px auto 0;
    }

    /* All Mobile Container Styles */

    section{
        padding-top: 96px;
        padding-bottom: 96px;
        max-width: 767px;
    }

    /* Mobile V&M(Section 2) Syles */

    .section-two {
        padding: 120px 0;
    }

    .section-two .list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        row-gap: 72px;
        align-items: center;
    }

    .section-two .list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }

    .section-two .text{
        width: 288px;
    }

    .section-two .list-item{
        width: auto;
    }

    .section-two .container .list .list-item .icon-container{
        display: none;
    }

    /* Tablet Section 3 */    

    .section-three .list{
        flex-wrap: nowrap;
        flex-direction: column;
        /* margin-left: calc((100% - 552px) / 2);
        margin-right: calc((100% - 552px) / 2); */
        gap: 72px;
        align-items: center;
    }

    .section-three .list-item {
        width: 264px;
    }

    /* Tablet Section 4 */    

    .section-four .list{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 48px;
        align-items: center;
    }

    .section-four .list-item{
        width: auto;
    }

    .section-four .list .overlay-container{
        width: 288px;
    }

    /* Tablet Footer */ 

    .footer {
        padding: 96px auto;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 72px;
    }

    .footer-logo{
        margin-left: calc((100% - 116px) / 2);
    }

    .footer .subtext-container {
        margin-right: 0;
    }

    .footer .social-list-container .text {
        font-weight: 400;
        text-align: center;
    }

    .subs-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .subs-form{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .subs-email-text{
        width: 288px;
    }


    .subs-button{
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .subs-icon{
        margin-left: 16px;
    }

    .subs-title{
        margin-right: 0;
    }

    /* MOBILE MENU */

    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        z-index: 88;
    }

    .mobile-menu .mm-container{
        margin: 72px 16px 24px;
        display: flex;
        flex-direction: column;
        gap: 168px;
    }

    .mobile-menu .mm-container .nav-list{
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu .mm-container .nav-list .list-item{
        padding: 0;
    }

    .nav-list .list-item:nth-of-type(1) .link::after{
        height: 0;
    }

    .mobile-menu .mm-container .nav-list .list-item .link{
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }

    .mobile-menu .mm-container .header-contact{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .mobile-menu .mm-container .header-contact .contact-list{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
    }

    .mobile-menu .mm-container .header-contact .contact-list .list-item{
        padding: 0;
    }

    .mobile-menu .mm-container .header-contact .contact-list .list-item .link{
        font-size: 20px;
    }

    .mobile-menu .mm-container .header-contact .contact-list .list-item:nth-child(2) .link {
        color: #4d5ae5;
    }

    .mobile-menu .mm-container .header-contact .social-list{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .mobile-menu .mm-container .social-list-container .social-list .list-item{
        width: 40px;
        height: 40px;
    }

    .mobile-menu .mm-container .social-list-container .social-list .list-item:hover .social-link{
        background-color: #404bbf;
    }

    .mobile-menu .mm-container .social-list-container .social-list .list-item .social-link{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* Modal Overlay for Mobile*/

    .backdrop {
        width: 100%;
        height: 100%;
    }

    .modal-window{
        padding: 72px 16px 24px 16px;
        min-height: 623px;
        /* width: calc(100% - (32px + (calc((100% - 320px) / 2.5)))); */
        width: calc(100% * 0.9);
        max-width: 385px;
    }

}

/* Edited by "ozncncyr"*/
/* Edited by "ozncncyr"*/
/* Edited by "ozncncyr" */